In [3]:
import pandas as pd
import pandas_datareader.data as pdr
import numpy as np
import yfinance as yf

import seaborn as sb
import matplotlib.pyplot as plt
sb.set()

In [4]:
df_gld = pd.DataFrame(yf.download('GLD', start = '2016-01-01', end='2021-01-01')['Close'])

[*********************100%***********************]  1 of 1 completed

                 Close
Date
2015-12-31  101.459999
2016-01-04  102.889999
2016-01-05  103.180000
2016-01-06  104.669998
2016-01-07  106.150002