In [17]:
import pandas as pd
import pandas_datareader.data as pdr
import numpy as np
import yfinance as yf

### 1. In this notebook, I have tried to implement the mean reversion trading strategy
### 2. If the time series value is far from mean in the positive side, go short otherwise go long

In [2]:
# Plotiing packages
import seaborn as sb
import matplotlib.pyplot as plt
sb.set()

In [25]:
df_gld = pd.DataFrame(yf.download('GLD', start = '2016-01-01', end='2021-01-01')['Close'])

[*********************100%***********************]  1 of 1 completed

In [30]:
# moving average of 4 weeks
ma = 20
df_gld['log_values'] = np.log(df_gld['Close'])
df_gld['log_returns'] = np.log(df_gld['Close']).diff()

In [31]:
df_gld.head()

                 Close  log_values  log_returns
Date
2015-12-31  101.459999    4.619665          NaN
2016-01-04  102.889999    4.633660     0.013996
2016-01-05  103.180000    4.636475     0.002815
2016-01-06  104.669998    4.650813     0.014337
2016-01-07  106.150002    4.664853     0.014041